:root {
    --primary-color: #BDC696;
    --secondary-color: #775253;
    --accent1-color: #351431;
    --accent2-color: #D1D3C4;
    --heading-font: 'Roboto';
    
    --paragraph-font:'open(sans)';
}




body {
    display: grid;
}

nav {
    display: flex;
    color: #351431;
    
}


