:root {
    --primary-color: #b6db0f;
    --secondary-color: #721e21;
    --back-color: #4e104e;
    --back-color: #242124;

    --accent2-color: #f0f8ff;
    --accent1-color: #0a5da7;
    --font-family: 'Roboto', sans-serif;
    
}

body {
    
background-color: #4e104e;
}

header {
    background-color: #242124;
}
h1,h2,h3 { 
    width: auto;
    height: auto;
    color: #f0f8ff;
    font: 'Roboto', sans-serif;

}

ul, a, p {
    color: #b6db0f;
}
nav ul {
    list-style-type: none; /* Remove bullet points */
    
}

nav ul li {
    display: inline;      /* Make list items inline */
    margin-left: 20px;  /* Add some space between items either left or right*/
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #f0f8ff;        /* Change text color */
}

nav ul li a:hover {
    color: #007BFF;      /* Change color on hover */
}
.media-logo link a {
    text-decoration: none;
    
    
}
  
  .media-logo img {
    width: 40px;

    display: flex;
    justify-content: center;
    gap: 20px;
}
footer {
    border: 2px solid;
    padding: 20px;
    background-color: #242124;

}

