:root {
    --back_color1: #1a61ac;
    --back_color2: #075ac0;
    --back_color3: #3d7492;
    --accent_color1: #19637c;
    --accent_color2: #8789e9;
    --accent_color3: #d3adad;
    --wild_red: #c7a2a2;
}







* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: .2rem;
}

body {
    font-family: Roboto, sans-serif;
}

/* padding: 0px keeps nav-bar at bottom of header */
header {
    background-color: var(--back_color1);
    padding: 1rem;
    color: white;
    border: 5px solid var(--back_color1);
}

/* justify-content: center; */
/* max-width: 1000px; */
main {
    position: relative;
    padding: 1rem;
    background-color: var(--accent_color2);
    min-width: 400px;
}

footer {
    padding: 1rem;
    color: white;
    background-color: var(--back_color1);
    text-align: center;
}

label {
    font-size: 1rem;
    font-weight: 800;
    text-align: left;
    /* margin-top: 0rem; */
    /* margin-bottom: .2rem; */
    /* background-color: red; */
}

input[type=checkbox] {
    transform: scale(2);
    margin: 10px;
}

.features label {
    font-size: 1.1rem;
}

/* input {
    font-weight: 100;
    font-size: 3rem;
} */
#feature1, #feature2 {
    font-weight: 100;
}
header, main, footer {
    min-width: 400px;
}

textarea {
    /* background-color: red; */
    background-color: white;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
}

.pad {
    padding-bottom: 1rem;
}

.stars label {
    float: left;
    padding: 0 1rem;
    text-align: center;
}

.features p {
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.textreview {
    margin-top: 1rem;
}

/* https://stackoverflow.com/questions/463785/place-radio-button-label-above-using-css */
.stars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    /* For Debug */
    /* background-color: aqua;
    border: 5px solid purple; */
}

.thanks {
    text-align: center;
}

#submit {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--accent_color3);
    border-width: 1px;
    margin: 1rem auto;
}

#prodName, #installDate, #review, #name, #submit {
    font-size: 1.2rem;
    padding: .2rem;
    width: 100%;
}

.install {
    margin-bottom: 1rem;
}

/* .install label {
    margin-bottom: 5;
} */

input[type=text] {
    background-color: white;
    /* background-color: #efac3e; */
    font-size: 1.2rem;
}

/* input [type="checkbox"] {
    background-color: blue;
} */